@model Product
@{
    List<Category> categories = ViewBag.Categories;
}
<div class="container">
    <form style="margin-top:20px" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
            <span asp-validation-for="Name" style="color: red"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Client</label>
            <input asp-for="Client" class="form-control" aria-describedby="emailHelp">
            <span asp-validation-for="Client" style="color: red"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" aria-describedby="emailHelp">
            <span asp-validation-for="Title" style="color: red"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" aria-describedby="emailHelp">
            <span asp-validation-for="Description" style="color: red"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ProjectUrl</label>
            <input asp-for="ProjectUrl" class="form-control" aria-describedby="emailHelp">
            <span asp-validation-for="ProjectUrl" style="color: red"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Categories</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))"></select>      
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
